<!--The content below is only a placeholder and can be replaced.-->


<nav>
  <a routerLink="homePage">HomePage</a>
</nav>

<div *ngIf="fathersName">
  <table>
    <tr>
      <td>firstname</td>
      <td>fathersName</td>
      <td>portalAddress</td>
      <td>personalAddress</td>
      <td>gender</td>
      <td>pinCode</td>
      <td>EmailId</td>
      <td>DOB</td>
      <td>MobileNo</td>
      <td>city</td>
      <td>course</td>
      <td>district</td>
      <td>state</td>
      </tr>
    <tr>
      <td>{{firstname}}</td>
      <td>{{fathersName}}</td>
      <td>{{portalAddress}}</td>
      <td>{{personalAddress}}</td>
      <td>{{gender}}</td>
      <td>{{pinCode}}</td>
      <td>{{EmailId}}</td>
      <td>{{DOB}}</td>
      <td>{{MobileNo}}</td>
      <td>{{city}}</td>
      <td>{{course}}</td>
      <td>{{district}}</td>
      <td>{{state}}</td>
    </tr>
  </table>

</div>
<router-outlet></router-outlet>





