
 <form [formGroup]="StudentRegistrationForm" (ngSubmit)="displayName()">
   <table>
     <tr>
       <td>FullName</td>
       <td>  <input id="fullName" formControlName="fullName" type="text" required></td>
     </tr>
     <tr>
       <td>fathersName</td>
       <td>  <input id="fathersName" formControlName="fathersName" type="text" ></td>
     </tr>
     <tr>
       <td>portalAddress</td>
       <td>  <input id="portalAddress" formControlName="portalAddress" type="text" ></td>
     </tr>
     <tr>
       <td>personalAddress</td>
       <td>  <input id="personalAddress" formControlName="personalAddress" type="text" ></td>
     </tr>
     <tr>
       <td>Gender</td>
       <td><input type="radio" value="male" formControlName="gender">male
         <input type="radio" value="Female" formControlName="gender">Female
       </td>
     </tr>
     <tr>
       <td>city</td>
       <td></td>
     </tr>
     <tr>
       <td>course</td>
       <td></td>
     </tr>
     <tr>
       <td>District</td>
       <td></td>
     </tr>
     <tr>
       <td>state</td>
       <td></td>
     </tr>
     <tr>
       <td>PinCode</td>
       <td><input id="pinCode" formControlName="pinCode" type="text" ></td>
     </tr>
     <tr>
       <td>EmailId</td>
       <td><input id="EmailId" formControlName="EmailId" type="text" ></td>
     </tr>
     <tr>
       <td>DOB</td>
       <td><input id="DOB" formControlName="DOB" type=date ></td>
     </tr>
     <tr>
       <td>MobileNo</td>
       <td><input id="MobileNo" formControlName="MobileNo" type="text" ></td>
     </tr>





  <tr>
    <td><button type="submit"  [disabled]="!StudentRegistrationForm.valid">submit</button></td>
    <td><button type="reset">reset</button></td>

  </tr>

   </table>
</form>

